<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
<connectionStrings>
  <add name="HotelDBEntities" connectionString="metadata=res://*/ModelHotel.csdl|res://*/ModelHotel.ssdl|res://*/ModelHotel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DEVK131\SQLEXPRESS;initial catalog=HotelDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
</configuration>